@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "assets/mixins", "assets/_medias", "assets/colors", "assets/_forJS";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

// Globals start
.btn {
  width: 4.6rem;
  height: 4.6rem;
  background-color: $white-200;
  color: $dark;
  border: none;
  cursor: pointer;
  transition: 300ms all;
  &:hover {
    color: $white;
    background-color: $mainColor;
  }
}

.active {
  color: $mainColor;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.custom-container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
// .col-lg-6 {
//   padding: 0;
// }

// Globals end

.header {
  &__top {
    @include flex(center, flex-start);
    background-color: $mainColor;
    height: 5rem;
    line-height: 2.72rem;
    font-size: 1.4rem;
    color: $white;

    &__left {
      @include flex(center);
      p {
        margin: 0;
      }
    }
    &__right {
      @include flex(center, flex-end);
      > ul {
        @include flex();
        column-gap: 2rem;
        .custom-dropdown {
          position: relative;

          &__menu {
            @include nav-dropdown();
            left: -45%;
            width: 15rem;
            font-size: 1.4rem;
            line-height: 2.4rem;
            padding: 1.5rem 1.5rem 2rem;
            li {
              transition: 400ms color;
              &:hover {
                color: $mainColor;
              }
            }
          }
          i {
            cursor: pointer;
            margin-left: 0.2rem;
            font-size: 1rem;
          }
          &:first-child {
            &::after {
              content: "";
              padding-right: 1.6rem;
              border-right: 0.1rem solid $white;
            }
          }

          &:hover {
            .custom-dropdown__menu {
              opacity: 1;
              pointer-events: auto;
              transform: translateY(0%);
            }
          }
        }
      }
    }
  }

  &__bottom {
    height: 12rem;
    @include flex(center);

    nav {
      position: relative;
    }

    &__logo {
      @include flex(center);
    }

    &__nav-links {
      > ul {
        @include flex(null, center);
        font-size: 1.6rem;
        > li {
          @include flex(center);

          // font-family: Montserrat;
          line-height: 16px;

          cursor: pointer;
          text-transform: uppercase;

          a {
            @include flex(center);
            color: $dark;
            transition: 400ms color;
            font-weight: 500;
            padding: 52px 15px;
          }
          > .home__dropdown {
            @include nav-dropdown();
            width: 22rem;

            > li {
              @include main-style-a();
            }
          }
          .pages__dropdown {
            @include flex();
            @include nav-dropdown();
            width: 100%;
            left: 0;
            > li {
              flex-basis: 25%;
              line-height: 1.6rem;
              padding: 1rem 1.5rem;
              @include main-style-a();
              a {
                font-size: 1.6rem;
                font-weight: 500;
                color: $dark;
                padding: 0;
              }

              ul {
                cursor: default;
                margin-top: 1rem;
                li {
                  padding: 1rem 0;
                  @include main-style-a();
                  a {
                    padding: 0;
                  }
                }
              }
            }
          }
          .shop__dropdown {
            @include nav-dropdown();
            width: 22rem;
            li {
              position: relative;
              @include main-style-a();
              ul {
                @include nav-dropdown();
                width: 25rem;
                top: 0%;
                left: 100%;
              }
            }
          }
          .blog__dropdown {
            @include nav-dropdown();
            li {
              @include main-style-a();
            }
          }
          i {
            font-size: 1rem;
            padding: 0 0.8rem;
          }
          &:hover {
            a {
              color: $mainColor;
            }

            ul {
              opacity: 1;
              transform: translateY(0%);
              pointer-events: auto;
              li {
                &:hover {
                  ul {
                    opacity: 1;
                    transform: translateY(0%);
                    pointer-events: auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    &__config {
      @include flex(center, flex-end);
      > ul {
        @include flex();
        gap: 2.6rem;
        > li {
          > button {
            cursor: pointer;
            position: relative;
            border: none;
            background-color: transparent;
            > img {
              width: 2.2rem;
            }
            span {
              position: absolute;
              top: -40%;
              left: 50%;
              background-color: $mainColor;
              color: $white;
              border-radius: 50%;
              width: 1.8rem;
              height: 1.8rem;
              line-height: 1.8rem;
              font-size: 1rem;
            }
            ul {
              @include nav-dropdown();
              width: 15.9rem;
              left: -630%;
              text-align: start;
              li {
                font-size: 1.3rem;
                font-weight: 400;
                padding: 0.5rem 1.5rem;
                @include main-style-a();
                a {
                  padding: 0;
                  font-size: 1.3rem;
                }
              }
            }
          }
          &:hover {
            ul {
              pointer-events: auto;
              opacity: 1;
              transform: translateY(0%);
            }
          }
        }
      }
    }
  }
}

.hero__slider {
  height: 47rem;
  overflow: hidden;
  .sliders {
    position: relative;
    .slide {
      display: none;
    }
    .slider--active {
      display: block;
    }
    .btn__slider {
      position: absolute;
      top: 40%;
      left: 0%;
      transform: translateX(20%);
      &:last-child {
        left: 100%;
        transform: translateX(-120%);
      }
    }
  }
  .slide {
    img {
      width: 100%;
    }
  }
}

.service-policy-area {
  &__box {
    @include flex();
    width: 37rem;
    min-height: 11.1rem;
    width: 100%;
    color: $dark-100;
    line-height: 2.72rem;
    margin-top: 3rem;
    padding: 3rem;
    &__info {
      margin-left: 1rem;
      h5 {
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
      }
      p {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
  .bg-antique {
    background-color: #fcedda;
  }
  .bg-lightgreen {
    background-color: #f2fbcb;
  }
  .bg-lightpurple {
    background-color: #f7d8f9;
  }
}

.products {
  &__title {
    @include main-title();
  }
  &__cards {
    &__card {
      width: 100%;

      border: 1px solid #e5e5e5;
      border-radius: 0.4rem;
      transition: 400ms border;
      &__top {
        overflow: hidden;
        &__img {
          cursor: pointer;
          img {
            width: 100%;
            transition: 400ms transform;
          }
          @include breakpoint-down("medium") {
            img {
              width: 20rem;
            }

            @include flex(null, center);
          }
        }
      }

      .products__cards__card__bottom {
        text-align: center;
        &__info {
          h5 {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 1rem;
          }
          span {
            font-size: 1.8rem;
            margin-right: 0.4rem;
          }
          del {
            font-size: 1.6rem;
          }
        }
        &__buttons {
          transform: translateY(50%);
          @include flex(null, center);
          gap: 2rem;
          .btn__product {
            border-radius: 50%;
            border: 1px solid $mainColor;
            background-color: $white;
            color: $mainColor;
            cursor: pointer;
            transition: 600ms all;
            font-size: 1.6rem;
            &:hover {
              background-color: $mainColor;
              color: $white;
            }
          }
          .btn__product--hidden {
            &:first-child {
              opacity: 0;
              visibility: hidden;
              transform: translateX(150%);
            }
            &:last-child {
              opacity: 0;
              visibility: hidden;
              transform: translateX(-150%);
            }
          }
        }
      }

      &:hover {
        border: 1px solid $mainColor;
        .btn__product--hidden {
          &:first-child {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
          }
          &:last-child {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
          }
        }
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}

.banner-sale {
  margin-top: 10.4rem;

  .col-lg-6 {
    padding: 0;
  }
  &__left-side {
    position: relative;
    overflow: hidden;
    height: 25rem;
    transition: 400ms transform;

    &__text {
      position: relative;
      top: 19%;
      color: $white;
      z-index: 1;
      cursor: pointer;
      h5 {
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 1.4rem;
        @include moveToRight();
      }
      h3 {
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        @include moveToLeft();
      }
    }

    // added this so when I use scale it doesn't scale with the text
    .background {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transition: all 300ms ease-in-out;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }
      .background {
        transform: scale(1.1);
      }
    }
  }
  &__right-side {
    overflow: hidden;
    height: 25rem;
    position: relative;
    cursor: pointer;
    transition: 400ms transform;
    &__text {
      position: relative;
      z-index: 1;
      cursor: default;
      color: $white;
      top: 19%;
      h5 {
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 1.4rem;
        @include moveToRight();
      }
      h3 {
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        @include moveToLeft();
      }
    }

    .background {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transition: all 300ms ease-in-out;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      .background {
        transform: scale(1.1);
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }
    }
  }
}

.top-seller {
  &__title {
    @include main-title();
  }
  &__products {
    &__img-container {
      width: 37rem;
      img {
        cursor: pointer;
        width: 100%;
      }
    }
    &__sliders {
      height: 100%;
      padding-left: 1.2rem;

      .row {
        row-gap: 2rem;
      }
      &__slider {
        @include flex();
        height: 100%;
        &:hover {
          .top-seller__products__sliders__slider__left-side {
            img {
              transform: scale(1.2);
            }
          }
        }
        &__left-side {
          overflow: hidden;
          img {
            height: 100%;
            cursor: pointer;
            transition: 400ms transform;
          }
        }
        &__right-side {
          @include flex(null, space-between, column);
          padding-left: 2rem;

          &__title {
            h6 {
              font-weight: 500;
              line-height: 19.2px;
              font-size: 1.6rem;
              color: $dark;
              margin-bottom: 1rem;
              span {
                color: $dark-100;
              }
              del {
                color: $dark-100;
              }
            }
          }
          &__reviews {
            i {
              font-size: 1.2rem;
              color: $mainColor;
            }
          }
          &__buttons {
            i {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

.blog {
  &__title {
    @include main-title();
  }
  &__cards__card {
    width: 37rem;
    &__img-container {
      width: 100%;
      cursor: pointer;
      img {
        max-width: 100%;
      }
    }
    &__text {
      padding-top: 2rem;
      &__title {
        padding-bottom: 2rem;
        h5 {
          font-size: 1.8rem;
          font-weight: 600;
          a {
            color: $dark;
            transition: 300ms color;
            &:hover {
              color: $mainColor;
            }
          }
        }
      }
      &__date {
        padding-bottom: 3rem;
        span {
          margin-right: 0.2rem;
          font-size: 1.4rem;
          &:nth-child(odd) {
            font-weight: 600;
          }
        }
      }
      &__link {
        font-size: 1.5rem;
        color: $dark;
        font-weight: 500;
        transition: 300ms color;
        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}

.brands {
  padding: 8rem 1.5rem;
  &__brand {
    @include flex(null, center);

    cursor: pointer;
    img {
      max-width: 100%;
      opacity: 0.3;
      transition: 400ms opacity;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.footer {
  &__top {
    background: $white-300;
    padding: 8rem 0;

    &__left-side {
      &__title {
        padding-bottom: 2.8rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: $dark;
      }
      &__list {
        li {
          @include flex(center);

          img {
            height: 2.2rem;
          }
          span {
            margin-left: 0.8rem;
            transition: 400ms transform, 400ms color;
          }
          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
          &:not(:first-child):hover {
            span:last-child {
              cursor: pointer;
              transform: translateX(5%);
              color: $mainColor;
            }
          }
        }
      }
    }
    &__title {
      padding-bottom: 2.5rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: $dark;
    }
    &__list {
      line-height: 1.7;
      li {
        @include flex(center);
        line-height: 1;
        font-weight: 400;
        margin-bottom: 1.5rem;
        cursor: pointer;
        color: $dark;
        transition: 400ms transform, 400ms color;
        &:hover {
          color: $mainColor;
          transform: translateX(5%);
        }
      }
    }
    .custom-flex {
      @include flex(center, null, column);
      .footer__top__title {
        margin-right: 2rem;
      }
    }
  }

  &__bottom {
    background-color: $grey;
    padding: 2rem 0;
    line-height: 2.72rem;
    &__copyright {
      font-size: 1.4rem;
      .name {
        color: $mainColor;
        cursor: pointer;
        font-weight: 600;
      }
    }
    &__social-medias {
      @include flex();
      gap: 2.4rem;
      li {
        a {
          color: $dark-100;
          transition: 300ms color;
          i {
            font-size: 1.5rem;
          }
          &:hover {
            color: $mainColor;
          }
        }
      }
    }
    &__copyright-socialMedias {
      @include flex(center, space-between);
    }
  }
}

.btn-fixed {
  position: fixed;
  bottom: 8%;
  right: 1.5%;
  border-radius: 4px;
  padding: 0.3rem;
  width: 4rem;
  height: 4rem;
  background-color: $mainColor;
  color: $white;
  &:hover {
    border: 1px solid $mainColor;
    background: $white-100;
    color: $dark;
  }
  i {
    font-size: 1.8rem;
  }
}

// .hidden {
// }
