@import "assets/mixins", "assets/colors";

.product {
  &__left-side {
    margin-right: 2.5rem;
    overflow: hidden;

    .zoom {
      background: url(../images/dragShoes/product-details-img1.jpg) center
        center no-repeat;
      overflow: hidden;
      cursor: zoom-in;
      border: 1px solid $grey;
      // box-shadow: 0px 0px 7px 5px $grey;
      img {
        transition: opacity 0.5s;
        display: block;
        width: 100%;
        &:hover {
          opacity: 0;
        }
      }
    }
    .thumbs-container {
      margin: 2rem 0;
      width: 100%;
      @include flex(null, space-between);
      gap: 1rem;

      div {
        cursor: pointer;
        .thumb {
          width: 100%;
          border: 1px solid $grey;
        }
      }
    }
  }
  &__right-side {
    &__text {
      gap: 1rem;
      h3 {
        font-size: 2.4rem;
        font-weight: 500;
        padding-bottom: 1rem;
        text-transform: capitalize;
      }

      a {
        display: block;
        color: $mainColor;
        font-size: 1.4rem;
        margin-bottom: 1.8rem;
        font-weight: 500;
      }
      span,
      del {
        font-size: 1.8rem;
        font-weight: 500;
        color: $dark;
      }
      p {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        line-height: 2.8rem;
      }
    }
    &__buy {
      @include flex();
      gap: 1.8rem;
      &--count {
        @include flex(center);
        gap: 1.3rem;
        padding: 0 1.5rem;
        border: 1px solid $grey;
        .count-minus {
          cursor: pointer;
        }
        // .count {
        // }
        .count-plus {
          cursor: pointer;
        }
      }
      &--add {
        button {
          @include main-btn();
        }
      }
    }
    &__extra {
      div {
        margin-top: 2rem;
        @include flex(center);
        p {
          font-weight: 600;
          font-size: 1.4rem;
          span {
            margin-left: 1rem;

            font-weight: 500;
            color: #22dd77;
          }
        }

        ul {
          @include flex();
          margin-left: 1rem;
          gap: 0.6rem;
          li {
            button {
              width: 3.6rem;
              height: 3.6rem;
              border: 1px solid $grey;
              background-color: $white;
              cursor: pointer;
              transition: $main-transition-speed color,
                $main-transition-speed background-color;
              i {
                color: $grey-100;
                font-size: 1.6rem;
              }
              &:hover {
                background-color: $mainColor;
                i {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
}

.tabs {
  padding-top: 8rem;
  ul {
    @include flex();
    gap: 0.05rem;

    li {
      button {
        background-color: #979898;
        color: $white;
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0.8rem 1rem;
        border: 1px solid $white-300;
        cursor: pointer;
        transition: 300ms color, 300ms background-color;
        &:hover {
          background-color: $white;
          color: $grey-100;
        }
      }
      .active--tab-link {
        background-color: $white;
        color: $grey-100;
      }
    }
  }
  .tab {
    border: 1px solid $white-300;
    color: $grey-100;
    line-height: 2.72rem;
    padding: 1.5rem 2rem 2rem;
  }
  &__desc {
    &__product {
      padding: 2.5rem 0;
      @include flex();
      @include breakpoint-down("small") {
        display: block;
      }

      &__img-container {
        width: 30rem;
        @include breakpoint-down("small") {
          width: 100%;
        }
        img {
          // max-width: 30rem;
          width: 100%;
        }
      }
      &__info {
        margin-left: 4rem;
        @include breakpoint-down("small") {
          margin-left: 2rem;
        }
        h3 {
          font-size: 2rem;
          text-transform: capitalize;
          font-weight: 500;
          color: $mainColor;
          padding-bottom: 1rem;
          @include breakpoint-down("small") {
            margin-top: 2rem;
          }
        }
        ul {
          @include flex(null, null, column);
          list-style-type: disc;
          li {
            padding: 3px 0;
          }
        }
      }
    }
    p {
      font-size: 1.5rem;
    }
  }
  &__information {
    table {
      width: 100%;
      background-color: transparent;
      border: 1px solid $grey;
      border-collapse: collapse;

      tr {
        text-transform: capitalize;
        td {
          padding: 1.2rem;
          border: 1px solid $grey;
        }
      }
    }
  }
  &__reviews {
    h5 {
      font-size: 1.8rem;
      font-weight: 500;
      padding-bottom: 2rem;
      text-transform: capitalize;
      span {
        color: $mainColor;
      }
    }
    &__all-reviews {
      @include flex();
      color: $grey-100;
      // &__img-container {
      // }
      &__box {
        border: 1px solid $white-300;
        margin-left: 10px;
        border: 1px solid #e5e5e5;
        padding: 10px;
        &__ratings {
          i {
            font-size: 1.4rem;
            color: $mainColor;
          }
        }
        &__date {
          font-size: 1.2rem;
          padding-bottom: 1rem;
          p {
            span {
              font-size: 1.3rem;
            }
          }
        }
        p {
          font-style: italic;
          font-size: 1.3rem;
          line-height: 1.7;
        }
      }
    }

    &__submit {
      padding-top: 4rem;
      form {
        div {
          width: 100%;
        }
        label {
          span {
            color: crimson;
          }
        }
        input:not([type="radio"]) {
          width: 100%;
          padding: 1rem;
          padding: 0.8rem 0.8rem;
          margin-bottom: 1rem;
          line-height: 1.5;
          color: $grey-100;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
        }
        textarea {
          width: 100%;
          padding: 1.5rem;
        }
        p {
          margin-bottom: 2rem;
          span {
            color: crimson;
          }
        }
        button {
          margin-top: 2rem;
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 500;
          color: $dark;
        }
        .radio-box {
          @include flex(center);
          gap: 0.8rem;
        }
      }
    }
  }
  .tab-hidden {
    display: none;
  }
  .tab-show {
    display: block;
  }
}

.related {
  padding: 4rem 0 8rem;
}
